<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="NumericUpDown" version="3.0.2" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="3.0.0-develop289" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0-develop289" targetFramework="net461" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Wpf" version="3.0.0-develop289" targetFramework="net461" />
</packages>